.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
}

.label {
    width: 170px;
    margin-right: 15px;
}

.input {
    width: 200px;
}