.Grass {
    color: #5cb737;
}

.Ground {
    color: #bf9926;
}

.Fire {
    color: #d52100;
}

.Fighting {
    color: #a84d3d;
}

.Water {
    color: #0080ff;
}

.Steel {
    color: #8e8ea4;
}

.Normal {
    color: #797964;
}

.Flying {
    color: #556dff;
}

.Bug {
    color: #83901a;
}

.Electric {
    color: #c90;
}

.Psychic {
    color: #ff227a;
}

.Poison {
    color: #88447a;
}

.Rock {
    color: #a59249;
}

.Ghost {
    color: #5454b3;
}

.Dark {
    color: #573e31;
}

.Dragon {
    color: #4e38e9;
}

.Ice {
    color: #0af;
}

.Fariy {
    color: #e76de7;
}