.type {
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    border: 2px #474747 solid;
    color: white;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Grass {
    background-color: #77cc55;
}

.Ground {
    background-color: #dcba62;
}

.Fire {
    background-color: #ff4422;
}

.Fighting {
    background-color: #ab4f3d;
}

.Water {
    background-color: #3295f8;
}

.Steel {
    background-color: #a9a9ba;
}

.Normal {
    background-color: #9c9588;
}

.Flying {
    background-color: #6699ff;
}

.Bug {
    background-color: #aabb22;
}

.Electric {
    background-color: #f8c631;
}

.Psychic {
    background-color: #fc5497;
}

.Poison {
    background-color: #aa5299;
}

.Rock {
    background-color: #bbaa66;
}

.Ghost {
    background-color: #6666bb;
}

.Dark {
    background-color: #775544;
}

.Dragon {
    background-color: #6655cc;
}

.Ice {
    background-color: #77ddff;
}

.Fariy {
    background-color: #ffaaff;
}