.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encounterBox1 {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.encounterBox2 {
    display: flex;
    flex-direction: row;
    height: 128px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    justify-content: space-between;
}

.pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px darkgray solid;
    border-radius: 7px;
    width: 192px;
    background-color: whitesmoke
}

.locationText {
    font-style: italic;
    margin-left: 10px;
}

.base {
    width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px 8px 8px 8px;
    background-color: lightgray;
}

.typeList {
    display: flex;
    flex-direction: row;
}

.typeText {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.nameText {
    font-size: 17px;
}

.pokemonActions {
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Grass {
    color: #5cb737;
}

.Ground {
    color: #bf9926;
}

.Fire {
    color: #d52100;
}

.Fighting {
    color: #a84d3d;
}

.Water {
    color: #0080ff;
}

.Steel {
    color: #8e8ea4;
}

.Normal {
    color: #797964;
}

.Flying {
    color: #556dff;
}

.Bug {
    color: #83901a;
}

.Electric {
    color: #c90;
}

.Psychic {
    color: #ff227a;
}

.Poison {
    color: #88447a;
}

.Rock {
    color: #a59249;
}

.Ghost {
    color: #5454b3;
}

.Dark {
    color: #573e31;
}

.Dragon {
    color: #4e38e9;
}

.Ice {
    color: #0af;
}

.Fariy {
    color: #e76de7;
}