/* Layout CSS */
.header {
    height: 50px;
    background-color: #d7bd64;
    position: fixed;
    width: 100%;
    top: 0px;
    border-bottom: 3px #515153 solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Page CSS */
.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamBox {
    border: 3px #515151 solid;
    margin-top: 4px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 400px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #cdb584;
}

.nameHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

.game {
    font-size: 15px;
}

.boxContents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteButton {
    color: white;
    background-color: red;
    margin-right: 5px;
    border-radius: 10px;
    width: 100px;
}

.newTeamDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
}