.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamBox {
    border: 1px black solid;
    margin-top: 4px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 350px;
    cursor: pointer;
    border-radius: 5px;
}

.nameHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

.game {
    font-size: 15px;
}

.boxContents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteButton {
    color: white;
    background-color: red;
    margin-right: 5px;
    border-radius: 10px;
    width: 100px;
}